<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site pra ver notas da Foa de forma mais Rápida">
    <meta name="author" content="Frederico Sampaio">
    <meta name="keywords" content="Notas Unifoa Foa Rapido">
    <title>Notas</title>
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="css/theme.css" rel="stylesheet" media="all">
</head>

<body class="animsition">
    <div id="formLogin" class="page-wrapper">
    	<div id="circle"></div>
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div  style="margin-top: 15% !important;" class="login-content">
                        <div class="login-form">
                            <form>
                                <div class="form-group">
                                    <label>Matricula</label>
                                    <input class="au-input au-input--full" type="text" name="matricula" placeholder="Sua Matricula" autofocus>
                                </div>
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="logged" hidden>
	        <div>	
	            <div class="">
	                <div class="section__content section__content--p30">
	                    <div class="container-fluid">
	                        <div id="painelGeral" class="row m-t-25">
	                        </div>
	                        <div class="row">
	                            <div class="col">
	                                <div class="copyright">
	                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>. Design by <a href="https://github.com/caiodomingues">Caio Domingues</a>.</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
	<script type="text/javascript">
		const baseURL = `https://notasfoa.herokuapp.com`;
		//const baseURL = `http://localhost:3000`;
        const painel = document.getElementById('painelGeral');

        function getRndInteger(min, max) {
          return Math.floor(Math.random() * (max - min + 1) ) + min;
        }
		
		(document.querySelector('form')).addEventListener('submit' , e =>{
			e.preventDefault();
			let matricula = document.querySelector('[name="matricula"]').value;
			let senha = document.querySelector('[name="password"]').value;
			iniciar(matricula,senha);
		})

		function iniciar(matricula,senha){
			if(matricula,senha){
				document.querySelector('button[type="submit"]').innerText = 'Carregando...';
				document.querySelector('button[type="submit"]').setAttribute('disabled','');
				document.querySelector('[name="matricula"]').setAttribute('disabled','');
				document.querySelector('[name="password"]').setAttribute('disabled','');
			fetch(`${baseURL}/data`,
	        {
	            headers: {
	              'Accept': 'application/json',
	              'Content-Type': 'application/json'
	            },
	            method: "POST",
	            body: JSON.stringify({usuario:matricula,senha:senha})
	        })
	        .then(res => res.status == 200 ? res.json() : "")
	        .then(responses => {
	        	document.querySelector('#formLogin').setAttribute('hidden','');
	        	document.querySelector('#logged').removeAttribute('hidden');
	        	document.querySelector('button[type="submit"]').innerText = 'Entrar';
				document.querySelector('button[type="submit"]').removeAttribute('disabled');
				document.querySelector('[name="matricula"]').value="";
				document.querySelector('[name="password"]').value="";
				let response = responses[1];
				let responseDays = responses[0];
				let aulasHoje = responseDays[new Date().getDay()];
	            let materias = Object.keys(response);
	            let valores = Object.values(response);
	            let notas = valores.map( a => a.notas);
	            let faltas = valores.map( a => a.faltas);
	            if(!materias.length > 0 && !notas.length > 0){
	            	alert('Error, tente novamente.');
	            	window.location.reload();
	            }
	            materias.forEach( (nome,index) => {
	            	let nomeVar = nome;
	            	aulasHoje.forEach( a => nome.search(a) != -1 ? nomeVar = `<p class="text-light bg-dark text-center"><small class="font-weight-bold text-uppercase">(Aula Hoje!)</small></p> <h4 class="p-3 text-center">${nome}</h4>` : "");
	            	let appendInicio = aulasHoje.map( a => nome.search(a) != -1 ? true : "").filter(a=>a);
	                let todasNotas = notas[index];
	                let valoresFaltas = faltas[index];
	                let numSuasFaltas = parseInt((valoresFaltas.split('/')[0]).replace('faltas','').trim());
	                let numFaltasMax = parseInt((valoresFaltas.split('/')[1]).replace('faltas','').trim());
	                let porcentagemFaltas = (numSuasFaltas*100)/numFaltasMax;
	                porcentagemFaltas > 60 ? corFaltas = '#f30000' : corFaltas = '#6c757d';
	                listaNotas = "";
	                msg = '';
	                var somaNotas = 0;
	                var semNota = 0;
	                if(todasNotas.length > 0){
		                todasNotas.map( (a,indexNota) =>{
		                    if(a == "Não divulgada"){
		                        msg = 'Você possui nota ainda não divulgada';
		                        listaNotas += `Nota ${indexNota+1}: Nota não divulgada <br>`;
		                        cor="#ffb100";
		                        semNota++;
		                    }else{
		                        let nota = a.replace(',','.');
		                        somaNotas += parseFloat(nota)*10000;
		                        listaNotas += `Nota ${indexNota+1}: ${parseFloat(nota)} <br>`;
		                    }
		                })
		                let media = ((somaNotas / (notas[0].length-semNota))/10000).toFixed(2);
		                if(!msg && media < 7){
		                    msg = `Que pena, você está de Prova Final nessa Matéria! &#x1F622 e precisa de ${(10-media).toFixed(2)} para passar!`;
							cor= "#f30000";
		                }else if(!msg && media >= 7){
		                    msg= "Parabéns Você foi aprovado!";
							cor="#56aa4b";
	                }
	            }else{
	            	msg = 'Nenhuma nota encontrada';
	            	cor="#597eeb";
	            	media = 'Não é possivel calcular a média.'
	            }
	            if(appendInicio.length < 1){
	            	painel.innerHTML += `
	                <div class="col-md-3">
						<div class="card border-0 shadow" style="height: 387px;">
							<div class="card-header border-bottom bg-light m-0 p-0" style="border-top: 5px solid ${cor}">
								<div class="text-center p-0 m-0">
									${nomeVar}
								</div>
							</div>
							<div class="card-body">
								<div class="text-dark">
									<p>${listaNotas}</p>
									<h4 class="text-center">Sua Média: ${media}</h4>
									<p class="mt-5 text-center" style="color:${corFaltas}">${valoresFaltas}</p>
								</div>
							</div>
							<div style="background-color: ${cor};" class="card-footer text-center border-0">
								<p class="text-white font-weight-bold">${msg}</p>
							</div>
	                    </div>
	                </div>`;
	            }else{
	            	painel.insertAdjacentHTML("afterbegin",`
	                <div class="col-md-3">
						<div class="card border-0 shadow" style="height: 387px;">
							<div class="card-header border-bottom bg-light m-0 p-0" style="border-top: 5px solid ${cor}">
								<div class="text-center p-0 m-0">
									<h4 class="text-center p-3">${nomeVar}</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="text-dark">
									<p>${listaNotas}</p>
									<h4 class="text-center">Sua Média: ${media}</h4>
									<p class="mt-5 text-center" style="color:${corFaltas}">${valoresFaltas}</p>
								</div>
							</div>
							<div style="background-color: ${cor};" class="card-footer text-center border-0">
								<p class="text-white font-weight-bold">${msg}</p>
							</div>
	                    </div>
	                </div>`);
	            }
	            })
	        })
	        .catch((err) =>{
	        	console.log(err);
	        	alert('Desculpe, não conseguimos carregar seus dados.')
	        	document.querySelector('button[type="submit"]').innerText = 'Entrar';
				document.querySelector('button[type="submit"]').removeAttribute('disabled');
				document.querySelector('[name="matricula"]').removeAttribute('disabled');
				document.querySelector('[name="password"]').removeAttribute('disabled');
				document.querySelector('[name="matricula"]').value="";
				document.querySelector('[name="password"]').value="";

	        })
			}else{
				alert('Preencha todos os campos por favor!');
			}
		};


		// let changeCard = async elem => {
		// 	let cardHeader = elem.querySelector('div.card-header');
		// 	let cardBody = elem.querySelector('div.card-body');
		// 	let cardFooter = elem.querySelector('div.card-footer');
		// 	cardHeader.setAttribute('hidden','');
		// 	cardBody.setAttribute('hidden','');
		// 	cardBody.setAttribute('hidden','');
		// } 
		
	</script>
</body>

</html>
<!-- end document-->
